<%- include('User_Header', {title: 'custom_password'}); -%>


<div class="w3ls-section contact">
    <div class="container">
        <div class="w3ls-title">
            <h2 class="h3-w3l" style="text-align: center; padding-bottom: 20px;">Change Password</h2>
        </div>
        <div class="contact_wthreerow agileits-w3layouts">
            <div class="row">
                <div class="col-sm-6">
                    <img style="object-fit: cover;" src="https://www.w3schools.com/tags/img_girl.jpg"
                        alt="Girl in a jacket" width="600" height="300">                    
                </div>
                <div class="col-sm-1"></div>
                <div class="col-md-5 w3l_contact_form">
                    <h4 style="padding-bottom: 17px; text-align: center;">New Password</h4>
                    <form method="POST"  onsubmit="return confirmPassword()">
                        
                        <div class="form-group" style="padding-bottom: 10px;">
                            <input type="password" style="text-align: center; " class="form-control form-control-user"
                                id="oldpassword" name="oldpassword" placeholder="Old Password" >
                        </div>
                        <div class="form-group" style="padding-bottom: 10px;">
                            <input type="password" style="text-align: center; " class="form-control form-control-user"
                                id="newpassword" name="newpassword" placeholder="New Password">
                        </div>
                        <div class="form-group" style="padding-bottom: 10px;">
                            <input type="password" style="text-align: center; " class="form-control form-control-user"
                                id="confirmpassword" name="confirmpassword" placeholder=" Confirm New Password">
                        </div>                                                
                        <div class="col-sm-12 text-center" style="padding-bottom: 20px;">
                            <input class="text-center; btn btn-primary"  type="submit" value="Submit" >
                        </div>                       
                    </form>
                    <div class="clearfix"> </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
    <!-- //contact -->
</div>
<script>
    function  confirmPassword(){
        var password = document.getElementById("newpassword");
        var confirmPassword = document.getElementById("confirmpassword");
        if(password == confirmPassword){
            alert("Update password succeessfully");
            return true;            
        }else{
            Swal("Password incorrect");
            return false;
        }
    }
</script>
<%- include('User_Footer'); -%>