<%- include('User_Header',{title: 'Quên mật khẩu'}); -%>

<div class="p-5">
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4">Quên mật khẩu</h1>
    </div>
    <form class="user" method="POST" style="width: 600px; margin-left: 277px">
      <div class="form-group">    
          <label for="email">Email</label>              
          <input type="text" class="form-control form-control-user" id="email" name="email" >
        </div>
        <div class="form-group">                                
          <input  type="submit" name="submit" class="btn btn-primary btn-user btn-block" onclick="messege()" value="Forgot password">     
        </div>
    </form>
  </div>

  <script>
      function messege(){
          Swal('Chúng tôi đã gửi cho bạn một email vui lòng kiểm tra')
      }
  </script>
<%- include('User_Footer'); -%>