<%- include('User_Header', {title: 'Home'}); -%>
 <!-- //about -->
	<!--services-->
        <div class="w3ls-section services">
            <div class="container">
                <div class="services-left">
					<div style= >
						<a id = "linkOne" href="/">
							<img src="/user/images/logo.png " alt = "logo" width="300" height="200">	
						</a>
					</div>
					<p><h5 style="text-align:center;"><u>Welcome to BB</u>  </h5>
					<h5 style="text-align:center;">your benefits-your safe-your money</h5></p>
                </div>
                <div class="services-right">
                    <div class="services-grid">
                        <div class="col-md-2 col-sm-2 col-xs-2 sr-icon">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                        </div>	
                        <div class="col-md-10 col-sm-10 col-xs-10 sr-txt">
                            <h5>safe & secure</h5>
                            <p>Itaque earum rerum hic a sapiente delectus</p>
                        </div>	
                        <div class="clearfix"></div>
                    </div>
                    <div class="services-grid">
                        <div class="col-md-2 col-sm-2 col-xs-2 sr-icon">
                            <span class="fa fa-clock-o" aria-hidden="true"></span>
                        </div>	
                        <div class="col-md-10 col-sm-10 col-xs-10 sr-txt">
                            <h5>save time</h5>
                            <p>Itaque earum rerum hic a sapiente delectus</p>
                        </div>	
                        <div class="clearfix"></div>
                    </div>
                    <div class="services-grid">
                        <div class="col-md-2 col-sm-2 col-xs-2 sr-icon">
                            <span class="fa fa-gg" aria-hidden="true"></span>
                        </div>	
                        <div class="col-md-10 col-sm-10 col-xs-10 sr-txt">	
                            <h5>transfer money</h5>
                            <p>Itaque earum rerum hic a sapiente delectus</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>	
                    <div class="services-grid">
                        <div class="col-md-2 col-sm-2 col-xs-2 sr-icon">
                            <span class="fa fa-credit-card-alt" aria-hidden="true"></span>
                        </div>	
                        <div class="col-md-10 col-sm-10 col-xs-10 sr-txt">	
                            <h5>pay bills</h5>
                            <p>Itaque earum rerum hic a sapiente delectus</p>
                        </div>	
                        <div class="clearfix"> </div>
                    </div>                    
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--//services-->
    
    <div id="team" class="w3ls-section team agileits">
		<div class="team-agileinfo">
			<div class="container">  
				<h3 class="h3-w3l">Our Team</h3>
				<div class="team-row agileits-w3layouts">
					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="/user/images/TheDao.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>The Dao</h4>
									<p>Stupid</p>
								</div> 
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li> 
									</ul>
								</div> 
							</div>
						</div>
					</div>					
					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="/user/images/TuanAnh.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Tuan Anh</h4>
									<p>Stupid</p>
								</div>
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li> 
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="/user/images/PhanTrungNghiem.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Phan Trung Nghiem</h4>
									<p>Nghiem cute</p>
								</div>
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li> 
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="/user/images/Katthy.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Katthy</h4>
									<p>Katthy katthy</p>
								</div>
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li> 
									</ul>
								</div> 
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>


<%- include('User_Footer'); -%>