<%- include('User_Header', {title: 'Accuracy'}); -%>
   

<div class="w3ls-section contact">
    <div class="container"> 
        <div class="w3ls-title">
            <h2 class="h3-w3l">Accuracy Information</h2> 
        </div>
        <div class="contact_wthreerow agileits-w3layouts">
            <div class="col-md-5 agileits_w3layouts_contact_gridl">
                <div class="agileits_mail_grid_right_grid">
                    <h4>upload file</h4>                        
                        <div class="custom-file">
                            <label class="custom-file-label" for="customFileBefore">Choose file</label>   
                            <input type="file" class="custom-file-input" id="customFileBefore">    
                        </div>                           
                </div> 
                <div class="agileits_mail_grid_right_grid">
                    <h4>upload file</h4>
                    <div class="custom-file">
                        <label class="custom-file-label" for="customFileAfter">Choose file</label>
                        <input type="file" class="custom-file-input" id="customFileAfter">          
                      </div>
                </div>
            </div>
            <div class="col-md-7 w3l_contact_form">
                <h4>Saving Account Form</h4> 
                <form class="user" method="POST">
                    <div class="form-group">
                        <label for="type">Saving Account's Type: </label>
                        <select id="type" class="selectpicker" data-style="btn-info" name="selectpicker_period">
                          <option id="Month" value="Month">Month</option>
                          <option id="Year" value="Year">Year</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="period" name="period" placeholder="Period Of Saving Account">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="moneySending" name="moneySending" placeholder="Money Sending">
                    </div>
                    <div class="form-group">
                        <label for="type">Saving Account's Type: </label>
                        <select id="type" class="selectpicker" data-style="btn-info" name="selectpicker_type">
                          <option id="Quarterly" value="Quarterly">Quarterly</option>
                          <option id="Limited" value="Limited">Limited</option>
                          <option id="Unlimited" value="Unlimited">Unlimited</option>
                        </select>
                    </div>
                    <div class="form-group">                                
                      <input type="submit" name="submit" class="btn btn-primary btn-user btn-block" value="Register Account">
                    </div>
                  </form>
            </div>
            
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //contact --> 


<%- include('User_Footer'); -%> 